
<div class="container">
	<h3>payment form</h3>

	<div class="row">
		<div class="form-group col">
			<label for="">payee name
				<input class="form-control" type="text" (input)="onNameChange($any($event.target).value)">
			</label>
		</div>

		<div class="col">
			<label for=""><b>Name</b></label>
			<div>
				{{ name | titlecase }}
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="form-group col">
			<label for="">Payment date
				<input class="form-control" type="date" (input)="onDateChange($any($event.target).value)">
			</label>
		</div>

		<div class="col">
			<label for=""><b>Payment date</b></label>
			<div>
				{{ date | date: 'MMMM d, y' }}
			</div>
		</div>
	</div>	

	
	<div class="row">
		<div class="form-group col">
			<label for="">Payment amount
				<input class="form-control" (input)="onAmountChange($any($event.target).value)">
			</label>
		</div>

		<div class="col">
			<label for=""><b>Payment amount</b></label>
			<div>
				{{ amount }}
			</div>
		</div>
	</div>	







</div>




